<h3>Categorias: </h3>

{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body">        
                <a href="/categorias/{{slug}}"><h5>{{nome}}</h4></a>
        </div>
    </div>
{{else}}

{{/each}}
